#mapid { 
  height: 180px; 
  margin: 30px 60px;
}

.leaflet-container {
  width: 100wh; 
  height: 70vh;
}

.leaflet-popup {
  position: absolute;
  text-align: center;
  margin-bottom: 60px !important;
}

.dropdown-trains {
  z-index: 100000 !important;
  margin-bottom: 30px;
}

.dropdown-trains input {
  z-index: 100000 !important;
}

.btn-update {
  margin-bottom: 15px;
}