.btn-update {
  margin-bottom: 15px;
}

.slider {
  margin-left: 30px;
}

.sliders {
  display: block;
  margin-top: 30px;
}

.form-item {
  /*width: 150px;*/
  margin: 10px;
  display: inline-flex !important;
}

@media screen and (max-width: 650px) {
  .sliders {
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }

  .form-item {
    width: 240px !important;
  }

  .btn-update button{
    width: 240px;
    display: contents;
  }
}

@media screen and (max-width: 400px) {
  .sliders {
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }

  .btn-grid {
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }

  .form-item {
    width: 150px !important;
  }

  .form-item input{
    width: 150px !important;
  }

  .btn-update button{
    width: 200px;
    display: contents;
  }
}

/*
.ui.slider.checkbox input:checked~.box:before, 
.ui.slider.checkbox input:checked~label:before {
  background-color: #549957!important;
  color: #549957 !important;
}

.ui.slider.checkbox input:checked~.box, 
.ui.slider.checkbox input:checked~label {
  opacity: 1;
  color: #549957 !important;
} 
*/
